* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

/* body {
    min-height: 1000px;
} */

section {
    padding: 100px;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.jpg);
    background-size: cover;
}

.banner__content {
    max-width: 900px;
    text-align: center;
}

.banner__header {
    font-size: 5em;
    color: #fff;
}

.banner__text {
    font-size: 1em;
    color: #fff;
}

/* BUTTON */
.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

/* NAV */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.header__logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .header__logo {
    color: #111;
}

.header__logo span {
    color: #ff0157;
}

.nav {
    position: relative;
    display: flex;
}

.nav__list {
    list-style: none;
    margin-left: 30px;  
}

.nav__list a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: color 0.3s;
}

header.sticky .nav__list a {
    color: #111;
}

.nav__list a:hover {
    color: #ff0157;
}

header.sticky .nav__list a:hover {
    color: #ff0157;
}

/* ABOUT US BLOCK */
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.text__title {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.text__title span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.image__box {
    position: relative;
    width: 100%;
    height: 100%;
}

.image__box .about__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* PRODUCTS */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.products .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.products .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.products .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cove;
    border-radius: 20px;
}

.products .content .box .tex {
    padding: 15px 5px; 
}

.products .content .box .tex h3 {

    font-style: 400;
    color: #111;
}