<section class="about" id="about">
  <div class="row">
    <div class="col50">
      <h2 class="text__title"><span>A</span>bout Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quod
        error rerum, at repellat minus eius sapiente omnis sequi nesciunt
        dolorem distinctio nisi modi similique minima labore, id nemo? Dolorem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, inventore
        nisi delectus accusantium nostrum nihil possimus eaque esse doloribus
        magni adipisci odit sit necessitatibus reiciendis ratione veniam amet!
        Dolorum omnis atque ratione sunt adipisci quos ipsam molestiae
        asperiores, distinctio quaerat sint quidem aut est labore excepturi nam
        hic natus accusantium.
      </p>
    </div>
    <div class="col50">
      <div class="image__box">
        <img class="about__image" src="/images/img1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
