<section class="contact" id="contact">
  <div class="title">
    <h2 class="text__title"><span>C</span>ontact Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, quo.</p>
  </div>
  <div class="contact__form">
    <h3>Send Message</h3>
    <div class="inputBox">
      <input type="text" placeholder="Name" />
    </div>
    <div class="inputBox">
      <input type="email" placeholder="Email" />
    </div>
    <div class="inputBox">
      <textarea placeholder="Write down your message..."></textarea>
    </div>
    <div class="inputBox">
      <input type="submit" value="Send" />
    </div>
  </div>
</section>
